--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.0+cpu
torchvision==0.17.0+cpu
Flask
gunicorn
flask_sqlalchemy
flask_migrate
flask_login
python-dotenv
Flask-JWT-Extended
opencv-python-headless
ultralytics
reportlab
werkzeug